

<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid row">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left" style="margin-left: 0px;">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 0px;">
                <a href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand pull-left" href="#">
                    Widgets
                </a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left navbar-text pull-left hidden-lg hidden-md hidden-sm">
                    </span>

                </a>
                <a class="navbar-brand pull-left" href="#">
                    Edit Widget
                </a>
                <a ng-click="widgetform.$valid && model.updateWidget(model.widget) ;submitted=true">
                    <span class="glyphicon  glyphicon-ok navbar-text pull-right"></span>
                </a>
            </div>
        </div>
    </div>
</nav>




    <div class="col-sm-8">

        <form name="widgetform" novalidate>

            <div ng-if='model.widget.type'>
                {{model.widget.type}}
            <div ng-include ="'views/widget/widget-'+model.widget.type+'.view.client.html'"></div>
                </div>
        </form>
    </div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="col-xs-12">

            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user pull-right navbar-text"></span>
            </a>


        </div>
    </div>
</nav>
